*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Zone*/

.container{
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
}
.row{
    width: 100%;
    margin-bottom: 3rem;
}

.col-4{
    width: calc(100% / 12*4);
    margin: 0 1rem;
}

a:visited{
    color:rebeccapurple;
}

a:hover{
    text-decoration: underline;
}

.d-flex{
    display: flex;
}

.t-white{
    color: white;
}

.s-between{
    justify-content: space-between;
}

/* Header Zone*/

header{
    background-color: #ff6900;
    padding: 1rem;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}

.utente{
    color: white;
}

/* Main Zone*/

main{
    display: flex;
    margin-top: 4rem;
}

.preview{
    height: 90%;
    width: 100%;
}

.show{
}

.heart{
}

.heart:hover{
    color: red;
}

.item-info{
    position: absolute;
    bottom: 12rem;
}

.sales{
    background-color: red;
    padding: 3px 5px;
    color: white;
}

.sustainability{
    background-color: green;
    padding: 3px 5px;
    color: white;
}
   
.main_info{
    margin-top: -1rem;
}

.brand{
    font-style: italic;
}

.new_price{
    color: red;
}

.old_price{
    text-decoration: line-through;
}

/* Foooter Zone*/

footer{
    padding: 1rem;
    width: 100%;
    background-color: black;
}

.info>h4{
    margin-bottom: 10px;
    margin-top: 10px;
}

.social>h4{
    margin-bottom: 10px;
}

.info>a{
    color: white;
}