*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Debug Zone*/
.debug .col-4{ 
    background-color: blue; 
    height: 668px;  
    border: dashed;
}

/* General Zone*/

.container{
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
}

.col-4{
    width: calc(100% / 12*4);
    margin: 0 1rem;
}

a:visited{
    color:rebeccapurple;
}

a:hover{
    text-decoration: underline;
}

.d-flex{
    display: flex;
}

/* Header Zone*/

header{
    background-color: #ff6900;
    padding: 1rem;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#categorie>a{
    color: white;
    text-decoration: none;
}

.utente{
    color: white;
}

/* Main Zone*/

main{
    display: flex;
    margin-top: 4rem;
}

.preview{
    height: 90%;
    width: 100%;
}